<h1>Hello <%= @user.name %></h1>
<div class="col-md-12">
<form action="/secrets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="secret[user_id]" value="<%= @user.id %>">
  <div>
    <label>New Secret:</label>
  </div>
  <div class="form-group">
    <textarea name="secret[content]" rows="4" cols="80" id='Content'></textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Create Secret">
    <a class="btn btn-info" href="/users/<%= @user.id %>/edit">Edit Profile</a>
  </div>
</form>
</div>
<div class="col-md-6">
  <h4>Secrets</h4>
  <% @secrets.each do |secret| %>
    <% if secret.user == @user  %>
      <p><%= secret.content %></p>
      <p><%= secret.likes.count %> likes </p>
      <form action="/secrets/<%= secret.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" class="btn btn-danger" value="Delete Secret">
      </form>
    <% end %>
  <% end %>
</div>
<div class="col-md-6">
  <h4>Secrets Liked</h4>
</div>
